*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper{
    height:100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1,5fr);
    grid-template-rows: 1fr 5fr min-content;
    grid-template-areas:  "sidebar header"
                          "sidebar main";
   
}
main
{
    grid-area: main;
    background-color:#dad7cd;
    color: #3a5a40;
   
}


header
{
    grid-area: header;
    background-color: #a3b18a;
    color:#efeee8;
}

header > h1
{
    text-align: center;
    margin-top: 1rem;
}

.sidebar
{
        background-color: #3a5a40;
        color:#dad7cd;
        grid-area: sidebar;
}

.addnewButton{
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 10rem;
}

button
{
    outline: none;
    border: none;
    width: 5rem; 
    height: 5rem;
    border-radius: 50%;   
    color:#3a5a40;
    background-color:#dad7cd; 
    cursor: pointer;
    font-size: 1.1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.saveTask
{
    background-color: #a3b18a;
    color:#efeee8;

}
.SideBarContent
{
    text-align: center;
    margin-top: 5rem;
    font-size: 1.1rem;

}

.newProjectDiv
{
    border: 2px solid blue;
}

.newContainer{
    border: 2px solid pink;
}